{% set root = base_url() %}
{% extends 'Template.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ root }}/public/style/css/Accueil.css">
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="col-sm-8 mx-auto my-3">
        <h1 class="titre-accueil text-center py-1">Accueil</h1>
    </div>

    <div class="col-sm-8 col-10 mx-auto my-3 text-accueil py-3 px-4">
        <blockquote class="text-center">Bienvenu dans l'application <b>Bee Happy</b> !!</blockquote>
        <blockquote>Bee Happy est un jeu ludo-éducatif mis en place par le jardin botanique Jean-Marie Pelt de <b>Vandoeuvre-les-Nancy</b>
            basé sur la simulation du travail d'une abeille
            qui doit trouver des plantes pour nourrir la ruche.</br>
            <hr>
            Le jeu consiste a effectuer une quête de plantes possèdant des caractéristiques particulières dans le jardin
            en les scannant avec votre appareil.
        </blockquote>

        <div class="btn-regles">
            <a href="{{ path_for('regles') }}" type="button" class="btn btn-primary">Les règles</a>
            <a href="{{ path_for('jouer') }}" type="button" class="btn btn-primary">Jouer !</a>
        </div>
    </div>

{% endblock %}