{% extends "Template.html.twig" %}
{% set root = base_url() %}

{% block head %}
{{ parent() }}
	<script src="{{ root }}/public/javascripts/Fleur.js"></script>
	<link rel="stylesheet" href="{{ root }}/public/style/css/VoirFleurs.css">
{% endblock %}


{% block body %}
    {{ parent() }}
    <h1 class="titre">Les plantes</h1>

<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Rechercher une fleur" id="fleurAChercher">
      <button type="submit" class="searchButton" id="chercherFleur">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

    <div class="containerF">

		{% if fleurs is empty %}
			Aucune fleur trouvée.
		{% endif %}

		{% for key,fleur in fleurs %}
			<div class="fleur">
				<b><label>Nom Latin:</label></b>
				<p>{{fleur.nomLatin}}</p>
				<b><label>Nom français :</label></b>
				<p>{{fleur.nomFr}}</p>
                <b><label>Pollen :</label></b>
				{{fleur.pollen}}
				<b><label>Nectar :</label></b>
				{{fleur.nectar}}
				<b><label>Hauteur :</label></b>
				{{fleur.hauteur}}
				<b><label>Floraison :</label></b>
				{{fleur.floraison}}</p>
				<b><label>Couleur :</label></b>
				{{fleur.couleur}}</p>
				<b><label>Emplacement :</label></b>
				<p>{{emplacement[key].emplacement}}</p>
				<div class="logo">
					<a data-toggle="modal" data-id="{{fleur.fleur_id}}" data-target="#exampleModal{{fleur.fleur_id}}" href=""><i class="far fa-eye fa-2x"></i></a>
				</div>
			</div>

<!-- Modal -->
		<div class="modal fade" id="exampleModal{{fleur.fleur_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Image de {{fleur.nomFr}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img class="img-fluid mx-auto d-block" src="{{ root }}/public/images/{{fleur.illustration}}">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}
	</div>

		

{% endblock %}
