{% extends "Template.html.twig" %}
{% set root = base_url() %}
{% block css %} <link rel="stylesheet" href="{{ root }}/public/style/css/VoirFleurs.css"> {% endblock %}

{% block script %}
	<script src="{{ root }}/public/javascripts/Fleur.js"></script>
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="titre">Les plantes</h1>

    <div class="containerF">

		{% if fleurs is empty %}
			Aucune fleur trouvée.
		{% endif %}

		{% for fleur in fleurs %}
			<div class="fleur">
				<b><label>Nom :</label></b>
				<p>{{fleur.nom}}</p>
				<b><label>Description :</label></b>
				<p>{{fleur.description}}</p>
                <b><label>Points :</label></b>
				<p>{{fleur.points}}</p>
				<div class="logo">
					<i class="far fa-edit fa-2x"></i>
					<a href="#" class="supprFleur" data-id="{{fleur.fleur_id}}"><i class="far fa-trash-alt fa-2x"></i></a>
					<i class="far fa-eye fa-2x"></i>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
