{% extends "Template.html.twig" %}
{% set root = base_url() %}
{% block css %} <link rel="stylesheet" href="{{ root }}/public/style/css/VoirFleurs.css"> {% endblock %}

{% block script %}
	<script src="{{ root }}/public/javascripts/Fleur.js"></script>
{% endblock %}

{% block body %}
    {{ parent() }}
    <h1 class="titre">Les plantes</h1>

    <div class="containerF">

		{% if fleurs is empty %}
			Aucune fleur trouvée.
		{% endif %}

		{% for key,fleur in fleurs %}
			<div class="fleur">
				<b><label>Nom :</label></b>
				<p>{{fleur.nom}}</p>
				<b><label>Description :</label></b>
				<p>{{fleur.description}}</p>
                <b><label>Points :</label></b>
				<p>{{fleur.points}}</p>
				<b><label>Emplacement :</label></b>
				<p>{{emplacement[key].emplacement}}</p>
				<div class="logo">
					<a href="{{ path_for('modifFleur', {'id' : fleur.fleur_id } ) }}" <li><i class="far fa-edit fa-2x"></i></li></a>
					<a href="#" class="supprFleur" data-id="{{fleur.fleur_id}}"><i class="far fa-trash-alt fa-2x"></i></a>
					<a data-toggle="modal" data-id="{{fleur.fleur_id}}" data-target="#exampleModal{{fleur.fleur_id}}" href=""><i class="far fa-eye fa-2x"></i></a>
				</div>
			</div>

<!-- Modal -->
		<div class="modal fade" id="exampleModal{{fleur.fleur_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Image de {{fleur.nomFr}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<img class="img-fluid mx-auto d-block" src="{{ root }}/public/images/{{fleur.illustration}}">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}
	</div>

		

{% endblock %}
